.city_nears {
    grid-row: 4 / 4;
    grid-column: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border: 1px solid rgba($color: $color6, $alpha: 0.3);
        background-color: rgba($color: #1B1F29, $alpha: 0.3);
        border-radius: 20px;
        min-width: 804px;
        margin: 0 0 15px;
        input {
            background-color: rgba($color: #1B1F29, $alpha: 0.3);
            border: none;
            outline: none;
            height: 54px;
            background-color: transparent;
            color: #FFF;
            font-family: Inter;
            font-size: 18px;
            font-weight: 600;
            line-height: 16px;
        }
        input::placeholder {
            color: #fff;
        }
    }

    .results {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 804px;
        img {
            width: 84px;
            height: 84px;
        }
        .city {
            max-width: 187.88px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 20px 10px 10px 10px;
            background-color: rgba($color: $color2, $alpha: 0.3);
            border: 1px solid rgba($color: $color6, $alpha: 0.3);
            border-radius: 20px;
            .name,
            .weather {
                color: #FFF;
                text-align: center;
                font-family: Inter;
                font-size: 20px;
            }
            .name {
                font-weight: 600;
                line-height: 17.435px;
                width: 100%;
                min-height: 35px;
            }
            .weather {
                font-weight: 400;
                line-height: 13.948px;
                text-transform: capitalize;
                height: 100%;
            }
            .degrees {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 80px;
                p {
                    color: $color7;
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}

@media screen and (max-width: 1410px) {
    .city_nears {
        grid-row: 4 / 4;
        grid-column: 1 / 2;
    }
}

@media screen and (max-width: 430px) {
    .city_nears {
        grid-row: 5 / 5;
        grid-column: 1 / 1;
        .search {
            min-width: 390px
        }
        .results {
            display: flex;
            flex-direction: row;
            max-width: 390px;
            .city {
                padding: 10px;
                gap: 10px;
                .degrees {
                    gap: 25px;
                }
                .name {
                    font-size: 14px;
                    width: 100px;
                    min-height: 35px;
                }
                .weather {
                    font-size: 12px;
                }
            }
            .city:last-child {
                display: none;
            }
            img {
                width: 60px;
                height: 60px;
            }
        }
    }
}