.error {
    height: 100%;
    width: 100%;
    img {
        display: none;
    }

    .text {
        margin: 30vh auto;
        margin-bottom: 40vh;

        h1,
        p {
            color: #FFF;
            text-align: center;
            font-family: Inter;
            line-height: 32px;
        }

        h1 {
            font-size: 64px;
            font-weight: 600;
            margin-bottom: 45px;
        }

        p {
            font-size: 24px;
            font-weight: 400;
        }
    }

    .button {
        margin: 0 auto;
        padding: 25px 25px;
        border-radius: 40px;
        border: 1px solid rgba($color: #fff, $alpha: 0.3);
        background-color: rgba($color: $color2, $alpha: 0.3);
        width: 35vh;
        cursor: pointer;

        p {
            color: #FFF;
            text-align: center;
            font-family: Inter;
            font-size: 20px;
            font-weight: 600;
            line-height: 16px;
        }
    }
}


@media screen and (max-width: 430px) {
    body {
        background: linear-gradient(180deg, #062C43 0%, #064469 100%);
        .error {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            background-image: none;
            margin-bottom: 30vh;

            img {
                display: block;
            }

            .text {
                margin: 0;
                margin-bottom: 5vh;

                h1 {
                    font-size: 36px;
                }

                p {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
    }
}