.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px;
    background-color: $color2;
    position: sticky;
    top: 0;

    .left {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    p {
        font-family: Inter;
        font-size: 20px;
        color: $color7;
        cursor: pointer;
    }
}