.statements {
    background-color: rgba($color: $color2, $alpha: 0.3);
    border: 1px solid rgba($color: $color6, $alpha: 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 390px;
    grid-row: 3 / 3;
    grid-column: 1 / 1;
    .chance,
    .humidity,
    .wind {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        p {
            color: #FFF;
            font-family: Inter;
            font-size: 14px;
            font-weight: 600;
        }
    }
}