.today {
    padding: 30px 20px 0px 20px;
    border: 1px solid rgba($color: $color6, $alpha: 0.3);
    border-radius: 20px;
    grid-row: 2 / 5;
    grid-column: 2 / 2;
    background-color: rgba($color: #1B1F29, $alpha: 0.3);

    .date {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .text {
            color: $color6;
            font-family: Inter;
            font-size: 24px;
            font-weight: 600;
            line-height: 16px;
        }

        .today_date {
            color: $color7;
            text-align: right;
            font-family: Inter;
            font-size: 18px;
            font-weight: 400;
            line-height: 16px;
        }
    }

    .hr {
        margin: 15px 0px;
        height: 3px;
        background-color: rgba($color: $color7, $alpha: 0.3);
    }

    .hours {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 40px;
        padding: 10px 0px;

        img {
            width: 84px;
            height: 84px;
        }

        .hours_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            .part,
            .degrees,
            .time,
            .weather {
                text-align: center;
                font-family: Inter;
                font-weight: 400;
                line-height: 16px;
            }

            .time,
            .weather {
                color: $color6;
                font-size: 20px;
            }

            .part,
            .degrees {
                color: $color7;
                font-size: 16px;
            }

            .weather {
                text-transform: capitalize;
                display: block;
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 1410px) {
    .today {
        grid-row: 3 / 3;
        grid-column: 1 / 2;
    }
}

@media screen and (max-width: 430px) {
    .today {
        grid-row: 4 / 4;
        grid-column: 1 / 1;
        max-width: 390px;
        gap: 0px;
        padding: 20px 20px 10px 20px;
        .arrow {
            width: 0;
            height: 0;
            position: relative;
            left: 100%;
            top: 33%;
        }

        .hr {
            margin-bottom: 0;
        }

        .date {
            .text {
                font-size: 16px;
            }

            .today_date {
                font-size: 16px;
            }
        }

        .hours {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;

            .hours_item {
                gap: 5px;
                img {
                    width: 48px;
                    height: 48px;
                }

                p {
                    width: 70px;
                }

                .time,
                .weather {
                    font-size: 14px;
                }

                .part,
                .degrees {
                    font-size: 12px;
                }
            }
        }
    }
}