.wrapper, .wrapper2 {
    background: linear-gradient(180deg, #062C43 0%, #064469 100%);
    padding: 18px 30px;
    @import './today/search';
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.25fr 0.8fr;
    gap: 10px;
    @import './today/head_info';
    @import './today/today';
    @import './today/city_nears';
    @import './today/statements';
}
.wrapper2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .search {
        max-width: 100%;
        width: 100%;
        .area {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 100fr 1fr;
        }
        .area:nth-child(3) {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
    @import './days/days6';
    @import './days/table';
}

@media screen and (max-width: 1410px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 0.83fr 0.1fr 0.85fr 0.2fr;
    }
}

@media screen and (max-width: 430px) {
    .wrapper {
        padding: 18px 20px;
        grid-template-rows: 0.1fr 1.2fr 0.2fr 0.5fr 0.5fr;
    }
}