.wrapper {
    background: linear-gradient(180deg, #062C43 0%, #064469 100%);
    padding: 18px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.25fr 0.8fr;
    gap: 10px;
    @import 'head_info';
    @import 'search';
    @import 'today';
    @import 'city_nears';
    @import 'statements';
}

@media screen and (max-width: 1410px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 0.83fr 0.1fr 0.85fr 0.2fr;
    }
}

@media screen and (max-width: 430px) {
    .wrapper {
        padding: 18px 20px;
        grid-template-rows: 0.1fr 1.2fr 0.2fr 0.5fr 0.5fr;
    }
}