@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .error {
  height: 100%;
  width: 100%;
  background: url(/result/img/404.png) no-repeat;
  background-size: 100%;
}
body .error .text {
  margin: 30vh auto;
  margin-bottom: 40vh;
}
body .error .text h1,
body .error .text p {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  line-height: 32px;
}
body .error .text h1 {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 45px;
}
body .error .text p {
  font-size: 24px;
  font-weight: 400;
}
body .error .button {
  margin: 0 auto;
  padding: 25px 25px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(27, 31, 41, 0.3);
  width: 35vh;
  cursor: pointer;
}
body .error .button p {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 16px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 20px;
  background-color: #1B1F29;
  position: sticky;
  top: 0;
}
.header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header p {
  font-family: Inter;
  font-size: 20px;
  color: #B0B0B0;
  cursor: pointer;
}

.wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(#062C43), to(#064469));
  background: linear-gradient(180deg, #062C43 0%, #064469 100%);
  padding: 18px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.2fr 10px 1fr 10px 0.25fr 10px 0.8fr;
  grid-template-rows: 0.2fr 1fr 0.25fr 0.8fr;
  gap: 10px;
}

.wrapper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.wrapper > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.wrapper > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.wrapper > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.wrapper .head_info {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  grid-column: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(/result/img/background_frog.png) no-repeat;
  width: 804px;
  height: 589px;
}
.wrapper .head_info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 48px 39px;
  gap: 15px;
  color: #FFF;
  font-family: Inter;
}
.wrapper .head_info .info .wind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.wrapper .head_info .info h1 {
  font-size: 128px;
}
.wrapper .head_info .info h2 {
  font-size: 36px;
  text-transform: capitalize;
}
.wrapper .head_info .info h3 {
  font-size: 24px;
}
.wrapper .head_info .info p {
  font-size: 14px;
}
.wrapper .head_info .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.wrapper .head_info .image img {
  height: 250px;
  width: 250px;
}
@media screen and (max-width: 1370px) {
  .wrapper .head_info {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper .head_info {
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
}
@media screen and (max-width: 540px) {
  .wrapper .head_info {
    margin-left: 0px;
    max-height: 318px;
    max-width: 430px;
    -ms-grid-row: 2;
    grid-row: 2/2;
    background: url(/result/img/background_frog_small.png) center no-repeat;
  }
  .wrapper .head_info .image img {
    width: 150px;
    height: 150px;
  }
  .wrapper .head_info .info {
    padding: 48px 39px;
  }
  .wrapper .head_info .info h1 {
    font-size: 64px;
  }
  .wrapper .head_info .info h2 {
    font-size: 20px;
  }
  .wrapper .head_info .info h3 {
    font-size: 18px;
  }
  .wrapper .head_info .info p {
    display: none;
  }
  .wrapper .head_info .info img {
    display: none;
  }
}
.wrapper .search {
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 2;
  grid-column: 2/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 68px;
  max-width: 545px;
  gap: 20px;
}
.wrapper .search .area {
  height: 68px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  background-color: rgba(22, 27, 30, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .search .area input {
  padding: 0px 15px;
  color: #F4F4F4;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.408px;
  height: 24px;
  border: none;
  outline: none;
  background: none;
}
.wrapper .search .area input::-webkit-input-placeholder {
  color: #fff;
}
.wrapper .search .area input::-moz-placeholder {
  color: #fff;
}
.wrapper .search .area input:-ms-input-placeholder {
  color: #fff;
}
.wrapper .search .area input::-ms-input-placeholder {
  color: #fff;
}
.wrapper .search .area input::placeholder {
  color: #fff;
}
.wrapper .search .area input:focus::-webkit-input-placeholder {
  color: #B0B0B0;
}
.wrapper .search .area input:focus::-moz-placeholder {
  color: #B0B0B0;
}
.wrapper .search .area input:focus:-ms-input-placeholder {
  color: #B0B0B0;
}
.wrapper .search .area input:focus::-ms-input-placeholder {
  color: #B0B0B0;
}
.wrapper .search .area input:focus::placeholder {
  color: #B0B0B0;
}
.wrapper .search .logo {
  width: 68px;
  height: 68px;
}
.wrapper .search .logo img {
  width: 68px;
  height: 68px;
  border-radius: 68px;
  border: 1px solid #FFF;
}
@media screen and (max-width: 1410px) {
  .wrapper .search {
    -ms-grid-row: 2;
    grid-row: 2/2;
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
}
@media screen and (max-width: 540px) {
  .wrapper .search {
    margin-top: 20px;
    padding: 20px;
    -ms-grid-row: 1;
    grid-row: 1/1;
    height: 48px;
    gap: 10px;
    max-width: 430px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .search .area {
    height: 48px;
    padding: 7.5px;
  }
  .wrapper .search .area input {
    padding: 5px;
    max-width: 260px;
    font-size: 18px;
  }
  .wrapper .search .logo {
    width: 48px;
    height: 48px;
  }
  .wrapper .search .logo img {
    width: 48px;
    height: 48px;
  }
}
.wrapper .today {
  padding: 30px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  -ms-grid-column: 2;
  grid-column: 2/2;
  background-color: rgba(27, 31, 41, 0.3);
}
.wrapper .today img {
  width: 84px;
  height: 84px;
}
.wrapper .today .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .today .date .text {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 16px;
}
.wrapper .today .date .today_date {
  color: #B0B0B0;
  text-align: right;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
}
.wrapper .today .hr {
  margin: 15px 0px;
  height: 3px;
  background-color: rgba(176, 176, 176, 0.3);
}
.wrapper .today .hours {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 40px 1fr 40px 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 40px;
  padding: 10px 0px;
}
.wrapper .today .hours > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.wrapper .today .hours > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.wrapper .today .hours > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.wrapper .today .hours > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.wrapper .today .hours > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.wrapper .today .hours > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.wrapper .today .hours > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.wrapper .today .hours > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.wrapper .today .hours > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.wrapper .today .hours > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.wrapper .today .hours > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.wrapper .today .hours > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}
.wrapper .today .hours .hours_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.wrapper .today .hours .hours_item .time,
.wrapper .today .hours .hours_item .weather {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
}
.wrapper .today .hours .hours_item .weather {
  text-transform: capitalize;
  display: block;
  height: 100%;
}
.wrapper .today .hours .hours_item .part,
.wrapper .today .hours .hours_item .degrees {
  color: #B0B0B0;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
@media screen and (max-width: 1410px) {
  .wrapper .today {
    -ms-grid-row: 3;
    grid-row: 3/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
@media screen and (max-width: 1370px) {
  .wrapper .today {
    -ms-grid-row: 3;
    grid-row: 3/3;
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
}
@media screen and (max-width: 540px) {
  .wrapper .today {
    max-width: 410px;
    margin: 0 10px;
  }
  .wrapper .today .hours {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 15px 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding: 0px;
  }
  .wrapper .today .hours > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .wrapper .today .hours > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .wrapper .today .hours > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .wrapper .today .hours > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}
.wrapper .city_nears {
  -ms-grid-row: 4;
  grid-row: 4/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
.wrapper .city_nears .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(27, 31, 41, 0.3);
  border-radius: 20px;
  min-width: 804px;
  margin: 0 0 15px;
}
.wrapper .city_nears .search input {
  background-color: rgba(27, 31, 41, 0.3);
  border: none;
  outline: none;
  height: 54px;
  background-color: transparent;
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 16px;
}
.wrapper .city_nears .search input::-webkit-input-placeholder {
  color: #fff;
}
.wrapper .city_nears .search input::-moz-placeholder {
  color: #fff;
}
.wrapper .city_nears .search input:-ms-input-placeholder {
  color: #fff;
}
.wrapper .city_nears .search input::-ms-input-placeholder {
  color: #fff;
}
.wrapper .city_nears .search input::placeholder {
  color: #fff;
}
.wrapper .city_nears .results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 804px;
}
.wrapper .city_nears .results img {
  width: 84px;
  height: 84px;
}
.wrapper .city_nears .results .city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 20px 10px 10px 10px;
  background-color: rgba(27, 31, 41, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
.wrapper .city_nears .results .city .name,
.wrapper .city_nears .results .city .weather {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
}
.wrapper .city_nears .results .city .name {
  font-weight: 600;
  line-height: 17.435px;
}
.wrapper .city_nears .results .city .weather {
  font-weight: 400;
  line-height: 13.948px;
  text-transform: capitalize;
}
.wrapper .city_nears .results .city .degrees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 90px;
}
.wrapper .city_nears .results .city .degrees p {
  color: #B0B0B0;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (max-width: 1410px) {
  .wrapper .city_nears {
    -ms-grid-row: 3;
    grid-row: 3/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .wrapper .city_nears .search {
    min-width: 504px;
  }
  .wrapper .city_nears .results {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 504px;
    gap: 20px;
  }
  .wrapper .city_nears .results .city {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
@media screen and (max-width: 1370px) {
  .wrapper .city_nears {
    -ms-grid-row: 3;
    grid-row: 3/3;
    -ms-grid-column: 2;
    grid-column: 2/2;
  }
  .wrapper .city_nears .search {
    min-width: 304px;
  }
  .wrapper .city_nears .results {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    max-width: 304px;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper .city_nears {
    -ms-grid-row: 4;
    grid-row: 4/4;
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
  .wrapper .city_nears .results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 540px) {
  .wrapper .city_nears {
    -ms-grid-row: 4;
    grid-row: 4/4;
    -ms-grid-column: 1;
    grid-column: 1/1;
    min-width: 430px;
  }
  .wrapper .city_nears .results {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 20px;
  }
  .wrapper .city_nears .results > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .wrapper .city_nears .results > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .wrapper .city_nears .results > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .wrapper .city_nears .results > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}

@media screen and (max-width: 1410px) {
  .wrapper {
    -ms-grid-rows: 0.81fr 0.1fr 1fr;
    grid-template-rows: 0.81fr 0.1fr 1fr;
  }
}
@media screen and (max-width: 1370px) {
  .wrapper {
    -ms-grid-rows: 0.5fr 0.1fr 1fr;
    grid-template-rows: 0.5fr 0.1fr 1fr;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 0.5fr 0.1fr 1fr;
    grid-template-rows: 0.5fr 0.1fr 1fr;
  }
  .wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .wrapper > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .wrapper > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
@media screen and (max-width: 540px) {
  .wrapper {
    min-width: 430px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 0.1fr 0.4fr 0.5fr;
    grid-template-rows: 0.1fr 0.4fr 0.5fr;
    padding: 0;
  }
  .wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .wrapper > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .wrapper > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
@media screen and (max-width: 430px) {
  .wrapper, .header, .head_info, .today, .search, .city_nears {
    width: 430px;
  }
}