@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#062C43), to(#064469));
  background: linear-gradient(180deg, #062C43 0%, #064469 100%);
}

.error {
  height: 100%;
  width: 100%;
}
.error img {
  display: none;
}
.error .text {
  margin: 30vh auto;
  margin-bottom: 40vh;
}
.error .text h1,
.error .text p {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  line-height: 32px;
}
.error .text h1 {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 45px;
}
.error .text p {
  font-size: 24px;
  font-weight: 400;
}
.error .button {
  margin: 0 auto;
  padding: 25px 25px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(27, 31, 41, 0.3);
  width: 35vh;
  cursor: pointer;
}
.error .button p {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 16px;
}

@media screen and (max-width: 430px) {
  body {
    background: -webkit-gradient(linear, left top, left bottom, from(#062C43), to(#064469));
    background: linear-gradient(180deg, #062C43 0%, #064469 100%);
  }
  body .error {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    background-image: none;
    margin-bottom: 30vh;
  }
  body .error img {
    display: block;
  }
  body .error .text {
    margin: 0;
    margin-bottom: 5vh;
  }
  body .error .text h1 {
    font-size: 36px;
  }
  body .error .text p {
    font-size: 18px;
    line-height: 22px;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 20px;
  background-color: #1B1F29;
  position: sticky;
  top: 0;
}
.header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .left p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  color: #B0B0B0;
  cursor: pointer;
}

@media screen and (max-width: 430px) {
  .header .left img {
    width: 44px;
    height: 44px;
  }
  .header .left p {
    font-size: 18px;
  }
}
.wrapper, .wrapper2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#062C43), to(#064469));
  background: linear-gradient(180deg, #062C43 0%, #064469 100%);
  padding: 18px 30px;
}
.wrapper .search, .wrapper2 .search {
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 2;
  grid-column: 2/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 68px;
  max-width: 545px;
  gap: 13px;
}
.wrapper .search .area, .wrapper2 .search .area {
  height: 68px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  background-color: rgba(22, 27, 30, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .search .area input, .wrapper2 .search .area input {
  padding: 0px 15px;
  color: #F4F4F4;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.408px;
  height: 24px;
  border: none;
  outline: none;
  background: none;
}
.wrapper .search .area input::-webkit-input-placeholder, .wrapper2 .search .area input::-webkit-input-placeholder {
  color: #fff;
}
.wrapper .search .area input::-moz-placeholder, .wrapper2 .search .area input::-moz-placeholder {
  color: #fff;
}
.wrapper .search .area input:-ms-input-placeholder, .wrapper2 .search .area input:-ms-input-placeholder {
  color: #fff;
}
.wrapper .search .area input::-ms-input-placeholder, .wrapper2 .search .area input::-ms-input-placeholder {
  color: #fff;
}
.wrapper .search .area input::placeholder, .wrapper2 .search .area input::placeholder {
  color: #fff;
}
.wrapper .search .area input:focus::-webkit-input-placeholder, .wrapper2 .search .area input:focus::-webkit-input-placeholder {
  color: #B0B0B0;
}
.wrapper .search .area input:focus::-moz-placeholder, .wrapper2 .search .area input:focus::-moz-placeholder {
  color: #B0B0B0;
}
.wrapper .search .area input:focus:-ms-input-placeholder, .wrapper2 .search .area input:focus:-ms-input-placeholder {
  color: #B0B0B0;
}
.wrapper .search .area input:focus::-ms-input-placeholder, .wrapper2 .search .area input:focus::-ms-input-placeholder {
  color: #B0B0B0;
}
.wrapper .search .area input:focus::placeholder, .wrapper2 .search .area input:focus::placeholder {
  color: #B0B0B0;
}
.wrapper .search .logo img, .wrapper2 .search .logo img {
  width: 68px;
  height: 68px;
  border-radius: 68px;
  border: 1px solid #FFF;
}
@media screen and (max-width: 1410px) {
  .wrapper .search, .wrapper2 .search {
    -ms-grid-row: 2;
    grid-row: 2/2;
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
}
@media screen and (max-width: 430px) {
  .wrapper .search, .wrapper2 .search {
    -ms-grid-row: 1;
    grid-row: 1/1;
    height: 48px;
    max-width: 390px;
  }
  .wrapper .search .area, .wrapper2 .search .area {
    height: 48px;
  }
  .wrapper .search .area input, .wrapper2 .search .area input {
    width: 230px;
    font-size: 18px;
  }
  .wrapper .search .logo img, .wrapper2 .search .logo img {
    width: 48px;
    height: 48px;
    border-radius: 48px;
  }
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.2fr 10px 1fr 10px 0.25fr 10px 0.8fr;
  grid-template-rows: 0.2fr 1fr 0.25fr 0.8fr;
  gap: 10px;
}

.wrapper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.wrapper > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.wrapper > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.wrapper > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.wrapper .head_info {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  grid-column: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(/result/img/background_frog.png) no-repeat;
  max-width: 804px;
  max-height: 589px;
}
.wrapper .head_info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 48px 39px;
  gap: 15px;
  color: #FFF;
  font-family: Inter;
}
.wrapper .head_info .info .wind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.wrapper .head_info .info h1 {
  font-size: 128px;
}
.wrapper .head_info .info h2 {
  font-size: 36px;
  text-transform: capitalize;
}
.wrapper .head_info .info h3 {
  font-size: 24px;
}
.wrapper .head_info .info p {
  font-size: 14px;
}
.wrapper .head_info .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.wrapper .head_info .image img {
  height: 250px;
  width: 250px;
}
@media screen and (max-width: 430px) {
  .wrapper .head_info {
    -ms-grid-row: 2;
    grid-row: 2/2;
    max-width: 388px;
    width: 100%;
    height: 100%;
    background: url(/result/img/background_frog_small.png) no-repeat;
  }
  .wrapper .head_info .info {
    padding: 15px 15px;
  }
  .wrapper .head_info .info .wind {
    display: none;
  }
  .wrapper .head_info .info h1 {
    font-size: 64px;
  }
  .wrapper .head_info .info h2 {
    font-size: 20px;
    text-transform: capitalize;
  }
  .wrapper .head_info .info h3 {
    font-size: 18px;
  }
  .wrapper .head_info .image img {
    height: 174px;
    width: 174px;
  }
}
.wrapper .today {
  padding: 30px 20px 0px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  -ms-grid-column: 2;
  grid-column: 2/2;
  background-color: rgba(27, 31, 41, 0.3);
}
.wrapper .today .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .today .date .text {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 16px;
}
.wrapper .today .date .today_date {
  color: #B0B0B0;
  text-align: right;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
}
.wrapper .today .hr {
  margin: 15px 0px;
  height: 3px;
  background-color: rgba(176, 176, 176, 0.3);
}
.wrapper .today .hours {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 40px 1fr 40px 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 40px;
  padding: 10px 0px;
}
.wrapper .today .hours > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.wrapper .today .hours > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.wrapper .today .hours > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.wrapper .today .hours > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.wrapper .today .hours > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.wrapper .today .hours > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.wrapper .today .hours > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.wrapper .today .hours > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.wrapper .today .hours > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.wrapper .today .hours > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.wrapper .today .hours > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.wrapper .today .hours > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}
.wrapper .today .hours img {
  width: 84px;
  height: 84px;
}
.wrapper .today .hours .hours_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.wrapper .today .hours .hours_item .part,
.wrapper .today .hours .hours_item .degrees,
.wrapper .today .hours .hours_item .time,
.wrapper .today .hours .hours_item .weather {
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
}
.wrapper .today .hours .hours_item .time,
.wrapper .today .hours .hours_item .weather {
  color: #FFF;
  font-size: 20px;
}
.wrapper .today .hours .hours_item .part,
.wrapper .today .hours .hours_item .degrees {
  color: #B0B0B0;
  font-size: 16px;
}
.wrapper .today .hours .hours_item .weather {
  text-transform: capitalize;
  display: block;
  height: 100%;
}
@media screen and (max-width: 1410px) {
  .wrapper .today {
    -ms-grid-row: 3;
    grid-row: 3/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
@media screen and (max-width: 430px) {
  .wrapper .today {
    -ms-grid-row: 4;
    grid-row: 4/4;
    -ms-grid-column: 1;
    grid-column: 1/1;
    max-width: 390px;
    gap: 0px;
    padding: 20px 20px 10px 20px;
  }
  .wrapper .today .arrow {
    width: 0;
    height: 0;
    position: relative;
    left: 100%;
    top: 50%;
  }
  .wrapper .today .hr {
    margin-bottom: 0;
  }
  .wrapper .today .date .text {
    font-size: 16px;
  }
  .wrapper .today .date .today_date {
    font-size: 16px;
  }
  .wrapper .today .hours {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
  .wrapper .today .hours .hours_item {
    gap: 5px;
  }
  .wrapper .today .hours .hours_item img {
    width: 48px;
    height: 48px;
  }
  .wrapper .today .hours .hours_item p {
    width: 70px;
  }
  .wrapper .today .hours .hours_item .time,
  .wrapper .today .hours .hours_item .weather {
    font-size: 14px;
  }
  .wrapper .today .hours .hours_item .part,
  .wrapper .today .hours .hours_item .degrees {
    font-size: 12px;
  }
}
.wrapper .city_nears {
  -ms-grid-row: 4;
  grid-row: 4/4;
  -ms-grid-column: 1;
  grid-column: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .city_nears .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(27, 31, 41, 0.3);
  border-radius: 20px;
  min-width: 804px;
  margin: 0 0 15px;
}
.wrapper .city_nears .search input {
  background-color: rgba(27, 31, 41, 0.3);
  border: none;
  outline: none;
  height: 54px;
  background-color: transparent;
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 16px;
}
.wrapper .city_nears .search input::-webkit-input-placeholder {
  color: #fff;
}
.wrapper .city_nears .search input::-moz-placeholder {
  color: #fff;
}
.wrapper .city_nears .search input:-ms-input-placeholder {
  color: #fff;
}
.wrapper .city_nears .search input::-ms-input-placeholder {
  color: #fff;
}
.wrapper .city_nears .search input::placeholder {
  color: #fff;
}
.wrapper .city_nears .results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 804px;
}
.wrapper .city_nears .results img {
  width: 84px;
  height: 84px;
}
.wrapper .city_nears .results .city {
  max-width: 187.88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 20px 10px 10px 10px;
  background-color: rgba(27, 31, 41, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
.wrapper .city_nears .results .city .name,
.wrapper .city_nears .results .city .weather {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
}
.wrapper .city_nears .results .city .name {
  font-weight: 600;
  line-height: 17.435px;
  height: 35px;
}
.wrapper .city_nears .results .city .weather {
  font-weight: 400;
  line-height: 13.948px;
  text-transform: capitalize;
  height: 100%;
}
.wrapper .city_nears .results .city .degrees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80px;
}
.wrapper .city_nears .results .city .degrees p {
  color: #B0B0B0;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (max-width: 1410px) {
  .wrapper .city_nears {
    -ms-grid-row: 4;
    grid-row: 4/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
@media screen and (max-width: 430px) {
  .wrapper .city_nears {
    -ms-grid-row: 5;
    grid-row: 5/5;
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
  .wrapper .city_nears .search {
    min-width: 390px;
  }
  .wrapper .city_nears .results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 390px;
  }
  .wrapper .city_nears .results .city {
    padding: 10px;
    gap: 10px;
  }
  .wrapper .city_nears .results .city .degrees {
    gap: 25px;
  }
  .wrapper .city_nears .results .city .name {
    font-size: 14px;
    width: 100px;
    min-height: 35px;
  }
  .wrapper .city_nears .results .city .weather {
    font-size: 12px;
  }
  .wrapper .city_nears .results .city:last-child {
    display: none;
  }
  .wrapper .city_nears .results img {
    width: 60px;
    height: 60px;
  }
}
.wrapper .statements {
  background-color: rgba(27, 31, 41, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 390px;
  -ms-grid-row: 3;
  grid-row: 3/3;
  -ms-grid-column: 1;
  grid-column: 1/1;
}
.wrapper .statements .chance,
.wrapper .statements .humidity,
.wrapper .statements .wind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.wrapper .statements .chance p,
.wrapper .statements .humidity p,
.wrapper .statements .wind p {
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
}

.wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.wrapper2 .search {
  max-width: 100%;
  width: 100%;
}
.wrapper2 .search .area {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 100fr 1fr;
  grid-template-columns: 1fr 100fr 1fr;
}
.wrapper2 .search .area:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.wrapper2 .days6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper2 .days6 img {
  margin-top: 13px;
  width: 114px;
  height: 114px;
  cursor: pointer;
}
.wrapper2 .days6 .day_week {
  max-width: 220px;
  max-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 27px;
  padding: 25px 20px 10px 20px;
  background-color: rgba(27, 31, 41, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  cursor: pointer;
}
.wrapper2 .days6 .day_week .name,
.wrapper2 .days6 .day_week .weather {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
}
.wrapper2 .days6 .day_week .name {
  font-weight: 600;
  line-height: 17.435px;
}
.wrapper2 .days6 .day_week .weather {
  font-weight: 400;
  line-height: 13.948px;
  text-transform: capitalize;
  height: 100%;
}
.wrapper2 .days6 .day_week .degrees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 90px;
}
.wrapper2 .days6 .day_week .degrees p {
  color: #B0B0B0;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (max-width: 1360px) {
  .wrapper2 .days6 {
    gap: 15px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}
@media screen and (max-width: 760px) {
  .wrapper2 .days6 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .wrapper2 .days6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 430px) {
  .wrapper2 .days6 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper2 .days6 img {
    margin-top: 0px;
    width: 60px;
    height: 60px;
  }
  .wrapper2 .days6 .day_week {
    width: 120px;
    height: 165px;
    gap: 8px;
    padding: 12px 10px 8px 10px;
  }
  .wrapper2 .days6 .day_week .name {
    font-size: 14px;
  }
  .wrapper2 .days6 .day_week .weather {
    font-size: 12px;
  }
  .wrapper2 .days6 .day_week .degrees {
    gap: 25px;
  }
  .wrapper2 .days6 .day_week .degrees p {
    font-size: 12px;
  }
}
.wrapper2 .day_click {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
.wrapper2 .day_click table {
  width: 100%;
  border-collapse: collapse;
}
.wrapper2 .day_click table .weather_img img {
  width: 100px;
  height: 100px;
}
.wrapper2 .day_click table td {
  width: 150px;
}
.wrapper2 .day_click table .left_info th,
.wrapper2 .day_click table .left_info td {
  padding: 20px 20px;
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 16px;
}
.wrapper2 .day_click table .left_info td {
  line-height: 20px;
  text-align: center;
  font-size: 20px;
}
.wrapper2 .day_click table .description_weather td {
  text-transform: capitalize;
}
.wrapper2 .day_click table th {
  text-align: left;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.wrapper2 .day_click table tr:nth-child(1) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.wrapper2 .day_click table tr:nth-child(1) th {
  border-right: none;
}
.wrapper2 .day_click table tr:nth-child(1) th:nth-child(1) {
  width: 221px;
  padding: 25px 20px;
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 16px;
}
.wrapper2 .day_click table tr:nth-child(1) th:last-child {
  padding: 20px;
  text-align: right;
}
.wrapper2 .day_click table tr:nth-child(2) th {
  padding: 35px 20px;
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 16px;
}
.wrapper2 .day_click table tr:nth-child(2) img {
  width: 128px;
  height: 128px;
}
.wrapper2 .day_click table tr:nth-child(2) td {
  padding: 35px 20px;
  text-align: center;
  color: #FFF;
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  line-height: 20px;
}
.wrapper2 .day_click table tr:nth-child(3) td {
  text-align: center;
}
@media screen and (max-width: 430px) {
  .wrapper2 .day_click {
    display: none;
  }
}
.wrapper2 .statements {
  background-color: rgba(27, 31, 41, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 390px;
  padding: 15px;
}
.wrapper2 .statements p {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}
.wrapper2 .day_click_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(27, 31, 41, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
.wrapper2 .day_click_mobile .hour_element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}
.wrapper2 .day_click_mobile .hour_element img {
  height: 36px;
  width: 36px;
}
.wrapper2 .day_click_mobile .hour_element .hour_description {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 16px;
  width: 150px;
  text-transform: capitalize;
}
.wrapper2 .day_click_mobile .hour_element .hour_time {
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.wrapper2 .day_click_mobile .hour_element .hour_min_max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
  width: 54px;
  color: #F5F5F5;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

@media screen and (max-width: 1410px) {
  .wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 0.83fr 0.1fr 0.85fr 0.2fr;
    grid-template-rows: 0.83fr 0.1fr 0.85fr 0.2fr;
  }
  .wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .wrapper > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .wrapper > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .wrapper > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
}
@media screen and (max-width: 430px) {
  .wrapper {
    padding: 18px 20px;
    -ms-grid-rows: 0.1fr 1.2fr 0.2fr 0.5fr 0.5fr;
    grid-template-rows: 0.1fr 1.2fr 0.2fr 0.5fr 0.5fr;
  }
  .wrapper2 {
    gap: 15px;
    padding: 18px 20px;
  }
  .wrapper2 .search .area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}